*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    width: 50%;
    margin: 0 auto;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.erro{
    color:blue;
    font-size: 14px;
}
button{
    background-color: blueviolet;
    color: aliceblue;
    padding: 8px 10px;
    border: 1px solid cornflowerblue;
    width: 100%;
    
}
button:hover{
    background-color: blueviolet;
}